<div class="member-profile-widget" {{action "showMember" member}}>
    <div class="member-profile-widget-image" style="background-image:url('{{member.image}}')">
    </div>
    <span class="member-profile-widget-name">{{member.name}}</span>
</div>