@import "ember-bootstrap/bootstrap";

@import "member-component";
@import "list-component";
@import "category-component";

html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

body > div:nth-of-type(2) {
    min-height: inherit;
}

#content {
    min-height: inherit;
}

select {
    font-family: 'FontAwesome', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}